# База данных
DATABASE_URL="postgresql://{имя аккаунта}:{пароль}@localhost:{порт}/{название базы}"

# JWT
JWT_SECRET="{личный секретный jwt ключ}"
JWT_REFRESH_SECRET="{отдельный секретный ключ для refresh токенов}"
JWT_EXPIRES_IN="7d"

# Сервер
PORT=3000
CORS_ORIGIN="http://localhost:5173"